.sidebar-pedidos{
    color: #006ED2;
}

.sidebar-pedidos:hover{
   cursor:pointer;
}

.sidebar-pedidos-selected{
    font-weight: bold;
 }

 .paginacion-pedidos-admin{
     text-align: center;
 }

 .fa-ban {
    color:#8B0000;
    width: 22px;
    height: 22px;
  }

  .fa-info-circle {
      color:blue;
      width: 22px;
      height: 22px;
  }

  .hand:hover{
    cursor:pointer;
 }
